.main_structure {
    font-family: Arial, sans-serif; 
    margin: 20px;
    margin-top: 20px;
    background-color: #121212;
    color: #ffffff;
  }

body {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.center_container {
    width: 90%;  /* or any specific width you want */
    max-width: 1200px;  /* or the maximum width you want */
    margin: auto; 
}
  
form {
    margin-bottom: 20px;
}
  
.product_style {
    width: 210px;
    margin-bottom: 5px;
    background-color: #2c2c2c; /* darker than body background */
    color: #ffffff;
    font-size: 20px;
    margin-left: 55px;
    margin-top: 30px;
}
.quantity_style {
    width: 80px;
    background-color: #2c2c2c; /* darker than body background */
    color: #ffffff;
    font-size: 20px;
    margin-left: 55px;
    border-radius: 20px;
}
.price_style {
    width: 80px;
    background-color: #2c2c2c; /* darker than body background */
    color: #ffffff;
    font-size: 20px;
    border-radius: 20px;
}

.pay_style {
    width: 120px;
    background-color: #2c2c2c; /* darker than body background */
    color: #ffffff;
    font-size: 20px;
    margin-left: 90px;
    margin-top: 5px;
}

.save_button {
    margin-left: 100px;
    width: 100px;
    font-size: 20px;
    margin-top: 10px;
    border-radius: 20px;
}

button {
    margin: 5px;
    padding: 5px;
    font-size: smaller;
    background-color: #2c2c2c; /* darker than body background */
    color: #ffffff;
}
  
table {
    width: 100%;
    border-collapse: collapse;
}
  
th, td {
    padding: 8px 12px;
    border: 1px solid #ddd;
    font-size: x-small;
}
  
button {
    cursor: pointer;
}


.stock {
    margin-left: 65px;
}

.sold {
    margin-left: 65px;
}

.benefit {
    margin-left: 65px;
}

.positive {
    color: green;
    margin-left: 65px;
}

.negative {
    color: red;
    margin-left: 65px;
}
