.main_structure {
    font-family: Arial, sans-serif; 
    max-width: fit-content;
    margin: 20px;
    margin-top: 20px;
  }
  
form {
    margin-bottom: 20px;
}
  
.product_style {
    width: 152px;
    margin-bottom: 5px;
}
.quantity_style {
    width: 70px;
}
.price_style {
    width: 70px;
}

button {
    margin: 5px;
    padding: 5px;
    font-size: smaller;
}
  
table {
    width: 100%;
    border-collapse: collapse;
}
  
th, td {
    padding: 8px 12px;
    border: 1px solid #ddd;
    font-size: x-small;
}
  
button {
    cursor: pointer;
}
